body {
    background-color: #f5f5dd;
}

.box {
    width: 200px;
    height: 200px;
    margin: 10px;
}

.czarny {
    background-color: rgba(0, 0, 0, 1);
}

.ciemnoszary {
    background-color: rgba(0, 0, 0, 0.75);
}

.szary {
    background-color: rgba(0, 0, 0, 0.5);
}

.jasnoszary {
    background-color: rgba(0, 0, 0, 0.25);
}